# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/实验补充_光线跟踪几何.pptx
/实验三 光线跟踪.pptx
/~$实验三 光线跟踪.pptx
/RayTracing.VC.VC.opendb
/RayTracing.VC.db
/RayTracing.sln
/.vs/RayTracing/v14
/Debug
/RayTracing/Debug
/RayTracing/RayTracing.vcxproj.filters
/RayTracing/RayTracing.vcxproj
/RayTracing/RayTrace.bmp
/RayTracing/RayTrace - 副本.bmp
/RayTracing/fuben.txt
/RayTracing/RayTrace - 副本 (2).bmp
/RayTracing/会挂.txt
/~$实验补充_光线跟踪几何.pptx
/RayTracing/Release
/RayTracing/效果
/Release
